.icon {
  width: 1.1em;
  height: 1.1em;
  position: relative;
  top: 0.5ex;
  margin-right: 0.7ex;
}

.icon[data-status="todo"] {
  fill: rgb(255, 225, 98);
}

.icon[data-status="in progress"] {
  fill: rgb(58, 155, 214);
}

.icon[data-status="done"] {
  fill: rgb(145, 196, 131);
}

.icon[data-status="closed"] {
  fill: grey;
}
